bidict==0.22.1
click @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_61srkg7e2e/croot/click_1698129815327/work
Flask @ file:///Users/cbousseau/work/recipes/ci_py311/flask_1677937489551/work
Flask-Cors==4.0.0
Flask-SocketIO==5.3.6
Flask-SQLAlchemy @ file:///Users/cbousseau/work/recipes/ci_py311/flask-sqlalchemy_1677958747220/work
greenlet @ file:///Users/cbousseau/work/recipes/ci_py311/greenlet_1677926210411/work
h11==0.14.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///Users/cbousseau/work/recipes/ci_py311/jinja2_1677916113134/work
MarkupSafe @ file:///Users/cbousseau/work/recipes/ci_py311/markupsafe_1677914270710/work
mysql-connector-python==8.2.0
mysqlclient==2.2.0
protobuf==4.21.12
python-engineio==4.8.0
python-socketio==5.10.0
simple-websocket==1.0.0
SQLAlchemy @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_da4pw1i5_7/croot/sqlalchemy_1695720907140/work
typing_extensions @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_1fdywrbp_3/croot/typing_extensions_1690297474455/work
Werkzeug @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_fc9kcczuwd/croot/werkzeug_1679489745296/work
wsproto==1.2.0
